body{
    font-family: Arial, sans-serif;
    background-color: #271247;
    color: white;
}
header{
    background-color: #362161;
    color: white;
    padding: 10px 0;
    text-align: center;
}
#logo img{
    height: 60px;
    vertical-align: middle;
    margin-right: 10px;
}
.carrossel-slide-unico {
    position: relative;
    max-width: 800px;
    margin-left: 60px;
    margin-right: 50px;
    padding: 0 80px;
}

.slide-container {
    position: relative;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    width: 1000px;

}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide.active {
    opacity: 1;
}

.card-grande {
    width: 100%;
    height: 100%;
    background: rgb(70, 40, 109);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.card-grande img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.card-grande .card-info {
    padding: 30px;
    height: 30%;
}

.card-grande h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

.card-grande p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.card-destaque, .jogo {
    background-color: #4b2e83;
    border-radius: 10px;
    padding: 10px;
    min-width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    min-height: 200px;
}
.categoria-card{
    background-color: #4b2e83;
    border-radius: 10px;
    padding: 10px;
    min-width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 10px;
}
.card-content{
    text-align: center;
    margin: 20px 0;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    border: 2px solid #6a42a1;
    border-radius: 10px;
    background-color: #3a1c6e;
    height: 200px;
    width: 250px;
    display: inline-block;
}
.aluno-info, h6, h7, h8{
    text-align: right;
    margin: 20px 0;
    padding: 10px;
    justify-content: center;
    font-size: small;
}
h1, h2, h3, h4, h5{
    color: #e0b3ff;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
button {
    background-color: #6a42a1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(123, 86, 192, 0.9);
    color: #333;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.nav-btn-prev-btn {
    left: 10px;
    position: absolute;

}

.next-btn {
    right: 5px;
    position: absolute;
}
