body{
    font-family: Arial, sans-serif;
    background-color: #271247;
    color: white;
}
header{
    background-color: #362161;
    color: white;
    padding: 10px 0;
    text-align: center;
}
#logo img{
    height: 60px;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 50px;
}
.carrossel-slide-unico {
    position: relative;
    max-width: 800px;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 15px;
   
}


.slide-container {
    position: relative;
    height: 300px;
    overflow: hidden;
    width: 1300px;

}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: center;
}

.slide.active {
    opacity: 1;
}

.card-grande img {
    width: 100px;
    height: fit-content;
   
}

.card-info {
    padding: 30px;
    height: 30%;
    box-sizing: border-box;
    background: #3a1c6e;
    color: white;
    text-align: center;

    

   
}

.card-grande h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

.info-jogo {
    font-size: 1.1rem;
    color: #f7f0f0;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
}
.btn-info-destaque {
    background-color: #6a42a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 90px;
}
.slide-indicators{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: background 0.3s;
}
.dot {
    
    background: #ccc;
    cursor: pointer;
   
}

.dot.active {
    background: #501b68;
}

.card-destaque, .jogo {
    background-color: #4b2e83;
    border-radius: 10px;
    padding: 10px;
    min-width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    min-height: 200px;
}
.categoria-card{
    background-color: #4b2e83;
    border-radius: 10px;
    padding: 10px;
    min-width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 10px;
}
.card-content{
    text-align: center;
    margin: 20px 0;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    border: 2px solid #6a42a1;
    border-radius: 10px;
    background-color: #3a1c6e;
    height: 200px;
    width: 250px;
    display: inline-block;
}
.aluno-info, h6, h7, h8{
    text-align: right;
    margin: 20px 0;
    padding: 10px;
    justify-content: center;
    font-size: small;
}
h1, h2, h3, h4, h5{
    color: #e0b3ff;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
button {
    background-color: #6a42a1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}
.nav-btn {
    position: absolute;
    background: rgba(123, 86, 192, 0.9);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    
}

.prev-btn {
    left: 5px;
    z-index: 10;
    top: 50%;
    position:absolute;

}

.next-btn {
    right: 5px;
    top: 50%;
    z-index: 10;
    position:absolute;
    
}
.aluno-info, h6, h7, h8, p{
    text-align: left;
    margin: 20px 0;
    padding: 0px;
    justify-content: center;
    font-size: small;
    position: relative;

}
.aluno-info {
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 200px;
}
h6, h7, h8 {
    font-size: medium;
    color: #e0b3ff;
    margin-bottom: 5px;
}
h6 {
    margin-top: 10px;
    position: relative;
    text-align: left;
    margin-bottom:0px
}