body{
    font-family: Arial, sans-serif;
    background-color: #271247;
    color: white;
}
header{
    background-color: #362161;
    color: white;
    padding: 10px 0;
    text-align: center;
}
#logo img{
    height: 60px;
    vertical-align: middle;
    margin-right: 10px;
}
.destaque-container {
    background-color: #30175c;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}
.destaque-carrossel {
    text-align: center;
    margin: 20px 0;
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}
.card-destaque, .jogo {
    background-color: #4b2e83;
    border-radius: 10px;
    padding: 10px;
    min-width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    min-height: 200px;
}
.categoria-card{
    background-color: #4b2e83;
    border-radius: 10px;
    padding: 10px;
    min-width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 10px;
}
.card-content{
    text-align: center;
    margin: 20px 0;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    border: 2px solid #6a42a1;
    border-radius: 10px;
    background-color: #3a1c6e;
    height: 200px;
    width: 250px;
    display: inline-block;
}
.aluno-info, h6, h7, h8{
    text-align: right;
    margin: 20px 0;
    padding: 10px;
    justify-content: center;
    font-size: small;
}
h1, h2, h3, h4, h5{
    color: #e0b3ff;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
