body {
    font-family: Arial, sans-serif;
    background-color: #15042e;
    /* Cor de fundo da tela */
    margin: 0;
    padding: 0;
}

header {
    background-color: #281255;
    color: rgb(132, 78, 194);
    padding: 10px 0;
    text-align: center;
}

#logo {
    background-color: aqua;
    height: 90px;
    margin-bottom: 20%;
    margin-left: 1%;
    margin-right: 20%;
}

.logo-voltar img {
    height: 120px;
    margin-right: 100%;
}

.logo-voltar {
    width: 20%;
    height: auto;

}

.btn-primary { /*formatação do botão de voltar*/
    background: rgba(186, 118, 226, 0.7);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 4px;
    transition: all 0.3s;
    margin-bottom: 20%;
    margin-left: 20%;
}

.btn-primary:hover { /*isso daqui é pro botão mudar o tom de roxo quando a gente passa o mouse em cima, fica mais bonitinhoo*/
    background: rgba(87, 38, 128, 0.9) !important;
}

.container-detalhes { /*isso é pra formatar o conteudo todo da pagina praticamente*/
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #53268d;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: center;
}

.header h1 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #e0b3ff;
}

.informacoes_gerais h2 {
    text-align: center;
    padding-bottom: 20px;
    color: #e0b3ff;
    font-size: 30px;
}

section {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #e0b3ff;
}

.conteudo_principal { /*formatação do conteudo para mobile*/
    display: flex;
    gap: 30px;
    align-items: flex-start;
    max-width: 1200px;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
}

.imagem_representativa {
    /*pra mobileeee*/
    flex: 1;
    max-width: 350px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #53268d;
    margin-left: 35px;
    width: 100%;
    text-align: center;

}

#imagem-principal {
    width: 100%;
    height: auto;
    margin-top: 40px;
}


.detalhes_texto {
    flex: 1;
    padding: 10px;
    flex-grow: 1;
    background-color: #53268d;
    width: 100%;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;

}

.detalhes_texto ul {
    list-style: none;
    padding-left: 0;
    color: #e0b3ff;
}

.detalhes_texto .label {
    font-weight: bold;
    font-size: larger;
}

.galeria-fotos { /*aqui ja começa a formatação das outras fotos*/
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;
}

.fotos_associadas h3 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #e0b3ff;
    color: #e0b3ff;
    font-size: 30px;
    margin-bottom: 50px;
}

#galeria-thumbnails-container {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

}

.thumbnail {
    width: 250px;
    height: 200px;
    flex-shrink: 0;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


footer {
    text-align: center;
    color: #e0b3ff;
}

@media (min-width: 768px) {

    /*pra desktop*/
    .conteudo_principal {
        flex-direction: row;
        gap: 40px;
        max-width: 1200px;
        margin: 40px auto;
        align-items: flex-start;
        padding: 0;
    }
}