body {
    font-family: Arial, sans-serif;
    background-color: #15042e !important;
    color: white !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

header {
    background-color: #281255;
    color: rgb(64, 24, 110);
    padding: 10px 0;
    text-align: center;
}

#logo {
    width: 200px;
    height: 100px;
}

#logo img {
    height: 100px;
    margin-bottom: 100px;


}

.categoria-grid {
    align-items: center;
    max-width: 1400px;
    height: auto;
    margin-bottom: 50px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.image_content img {
    width: 180px;
    height: 200px;
}

.card_infos {
    margin-top: 10px !important;
}

.card-content {
    text-align: center;
    margin-right: 10px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    border: 2px solid #6a42a1;
    border-radius: 10px;
    background-color: #3a1c6e;
    height: auto;
    width: 290px;
}

h1,
h2,
h3,
h4 {
    color: #e0b3ff !important;
    text-align: center !important;
    margin-left: 40px !important;
    margin-top: 10px !important;
    margin-bottom: 40px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: xx-large !important;
}

h5 {
    color: #e0b3ff !important;
    text-align: center !important;
    margin-left: 40px !important;
    margin-top: 100px !important;
    margin-bottom: 10px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: xx-large !important;
}

.slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.4) 50%,
            rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

.game-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.game-info {
    font-size: 1.3rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.game-description {
    font-size: 1.2rem;
    margin-bottom: 25px;
    line-height: 1.4;
    color: #e0e0e0;
}

.btn-info {
    background: rgba(186, 118, 226, 0.7);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 4px;
    font-size: 0.6rem;
    font-weight: smaller;
    cursor: pointer;
    /*mudança suavee*/
    margin-top: 20px;

}

.btn-info:hover {
    background: rgba(87, 38, 128, 0.9);
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}

.carousel-fixed-height {
    max-height: 500px;
    overflow: hidden;
    width: 90%;
    object-fit: cover;
    position: relative;
    max-width: 90%;
    margin: 0 auto;
}

.carousel-item {
    flex: 0 0 100%;
    position: relative;
    height: 70vh;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
    width: 100%;
    flex-shrink: 0;
}

.carousel-caption {
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 2;
    color: white;
    max-width: 600px;
}

.btn-primary {
    background: rgba(186, 118, 226, 0.7) !important;
    color: white !important;
    border: none !important;
    padding: 12px 30px !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    transition: all 0.3s !important;
    margin-bottom: 5px !important;
    margin-top: 90px !important;
}

.btn-primary:hover {
    background: rgba(87, 38, 128, 0.9) !important;
}

.informacoes-aluno-container {
    max-width: 1000px;
    margin: auto;
    margin-top: 35px;
    padding: 20px;
    color: #dbc0ee;
}

.titulo-aluno {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.0em;
    font-weight: bold;
}

.conteudo-principal {
    display: flex;
    gap: 40px;
}

.coluna-sobre {
    flex-grow: 1;
    margin-top: 20px;
    color: #dbc0ee;
}

.bloco-texto p {
    height: 12px;
    /* Altura da linha */
    margin-bottom: 0px;
    border-radius: 2px;
    margin-top: 10px;
    font-size: 0, 1em;
}

.coluna-autoria {
    width: 300px;
    margin-top: 10px;
    color: #dbc0ee;
}

.dados-autoria {
    display: flex;
    align-items: flex-start;
    /* Alinha o ícone no topo */
    margin-bottom: 10px;
    margin-top: 15px;
}

.icone-aluno {
    font-size: 24px;
    margin-right: 10px;
}

.dados-autoria ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dados-autoria li {
    line-height: 1.1;
    font-size: 0.9em;
}

/* Redes Sociais */
.icones-sociais img {
    width: 24px;
    /* Tamanho dos ícones */
    height: 24px;
    margin-right: 10px;
}

.redes-sociais {
    margin-top: 20px;
}

.card_infos p,
span {
    font-size: larger;
    color: #dccaeb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

footer {
    width: 100%;
    position: relative;
    margin-top: 50px;
    padding-top: 20px;

}